html{

	font-family:"Microsoft JhengHei";
}
.product_area img{
	
	margin-left:3%;
	}

.product_area{
	margin-top:5%;
	margin-right:3%;
	margin-bottom:20%;
}
.go_back img{
	width:5%;
	margin-left: 2%;
	margin-top:2%;
	
}
.product_img {
	float:left;
	width:20%;
	background-image:url('商品照片_背景.png');
	
}
.product_img img{
	width:80%;
	padding:15%;
}


#container {
    width: 45%;  /* Ancho del contenedor */
    display:inline-block;
    margin-bottom:10%;
    margin-left:5%;
    height:100%;
}

#container input {
	height: 2.5em;
	visibility: hidden;
}

#container label {
	background: #8B4513;  /* Fondo de las pestañas */
	border-radius: .25em .25em 0 0;
	color: #FFF;  /* Color del texto de las pestañas */
	cursor: pointer;
	display: block;
	float: left;
	font-size: 1em;  /* Tamaño del texto de las pestañas */
	height: 40px;
	width:150px;
	line-height: 2.5em;
	margin-right: .25em;
	padding: 0 1.5em;
	text-align: center;
}
.cu_label{
 background:#FF8800	!important;

}
.mu_label{
background:#008844 !important;
}
#container input:hover + label {
	background: #ddd;  /* Fondo de las pestañas al pasar el cursor por encima */
	color: #FFF;  /* Color del texto de las pestañas al pasar el cursor por encima */
	font-weight:bolder;
	font-size:1.1em;
}

#container input:checked + label {
	background: #f1f1f1;  /* Fondo de las pestañas al presionar */
	color: #FFF; /* Color de las pestañas al presionar */
	position: relative;
	z-index: 6;
	
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-o-transition: .1s;
	-ms-transition: .1s;
	
}

#content {
	background: #f1f1f1;  /* Fondo del contenido */
	border-radius: 0px 0px 15px 15px;
	min-height: 20em;  /* Alto del contenido */
	position: relative;
	width: 100%;
	z-index: 5;
	height:auto;
	padding-left:5%;
	overflow:auto;
	overflow-x:hidden;

}
.product_table{
	font-size:18px ;
}
.product_table td{
	}
.product_name{
	font-size:28px;
	font-weight:800;

	display:inline-block;
}
.product_in{
	width:10%;
	
}
#content div {
	opacity: 0;
	
	position: absolute;
	z-index: -100;
	
	transition: all linear 0.1s;
	
}

#content-1 {
	height:300px !important	;
}
#content-1 p.left img {
	float: left;
	margin-right: 1em;
}
#content-1 p.last {
	margin-bottom: 0;
}

#content-2 {
	margin-left:10%;
}
#content-2 p.column-right {
	margin-left: 3%;
}
#content-2 p img {
	display: block;
}
#content-3 p,


#container input#tab-1:checked ~ #content #content-1,
#container input#tab-2:checked ~ #content #content-2,
#container input#tab-3:checked ~ #content #content-3 {
    opacity: 1;
    z-index: 100;
}

input.visible {
  visibility: visible !important;
}
.star-rating {
  width: 150px;
  
}
.star-rating span{
	display:inline-block;
	margin-left:10%;
}

.rating {
  width: 150px;
  height: 30px;
  margin-bottom: 5px;
  position: relative;
  background: grey;
}

.rating img {
  position: relative;
  z-index: 1;
  left:-5px;
}

.rating:after {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  top: 0;
  
  background: #FD0000;
}


.product_arrow_left{
	width:8%;
	float:left;
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    /*IE*/
    filter:FlipH;
    margin-top:8%;
}
.product_arrow_right{
	width:8%;	
    margin-top:8%;
    float:right;
}
.receipt_arrow_left{
	width:10%;
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    /*IE*/
    filter:FlipH;
    
}

.receipt_arrow_right{
	width:10%;
	margin-left:70% !important;
}
.control{
	margin-left:12%;
	margin-top:-12%;
	width:20%;
	display:block;
}
.reciept_table{

	width:100%;
	border-collapse: collapse;
	 border:0;
	 margin-bottom:5%;

}

.reciept_table td{

padding:5px;

border-bottom:3px #FFBB00cc solid;

}
.receipt{
	display:inline-block;
	padding-bottom:10%;
}
.message{
	
	display:inline-block;
	border-style:solid;
	border-width: 0.75px;
	width:600px;
	height:300px;
	margin-top:5%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


.button {
  font-family:"Microsoft JhengHei";
  display: inline-block;
  border-radius: 4px;
  background-color: #FF8800	;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 15px;
  width: 500px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  font-weight:bolder;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
a {
    text-decoration:none;
    color:white;

}